<%- include('partial/header.ejs' ,{data:data}); %>
<h1 style="font-size:200px;text-align:center;">Error 404</h1>
<h1 style="text-align:center;">You Fuc#ed Up </h1>
<%- include("partial/footer") %>
