<%- include('partial/header',{data:data,id:id}) %>
<h1 style="text-align:center; color:#007965;">About</h1>
<h2 style="margin-left:150px;"><%= aboutContent%></h2>
<h2 style="margin-top:100px;margin-left:250px;">This Website is Made by <i>Anandmohan Tripathi</i></h2>
<%- include('partial/footer') %>
