<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title></title>
  </head>
  <body>
    <h2 style="text-align:center; color:#007965;margin-top:100px;">Please use Unique User name and remember it :) Good to Go!</h2>
    <div class="login">
      <form  action="/" method="post">
        <label >UserName:</label>
        <input type="text"  class="log" autocomplete="off" name="user_name" >
        <label >Password :</label>
        <input type="text" class="log" name="pass">
        <button type="submit" class="boxi"  name="button">Login</button>
      </form>
    </div>


  </body>
</html>
