<%- include('partial/header.ejs' ,{data:data}); %>
<div class="box2">
  <h1 style="text-align:center;"><strong><%= object.title %></strong></h1>
  <p style="margin-left:20px;margin-right:20px;font-size:23px;"><%= object.msg %></p>

</div>
<%- include("partial/footer") %>
