
</div>
<div class="footer-padding"></div>
  <a href="/<%= id %>/<%= data %>/compose" class="my">compose</a>
  <div class="footer">
    <p>Made By Anandmohan Tripathi</p>
  </div>
</div>
</body>
</html>
